@model Bs.Calendar.Mvc.ViewModels.AccountVm

@{
    ViewBag.Title = "PasswordReset";
}

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Email)

        <div class="row">
            <div class="centered five columns">
                @Html.ValidationSummary()
            </div>
        </div>

        <table class="rounded centered five columns">
            <thead>
                <th>Password Reset</th>
            </thead>
        
            <tbody>
                <tr>
                    <td>
                        <ul>
                            <li class="field">
                                <label>New Password</label>
                                <input class="text input" type="password" name="password">
                            </li>
                            <li>
                                <div class="medium pretty default btn three columns">
                                    <input type="submit" value="Submit">
                                </div>
                            </li>
                        </ul>
                    </td>                
                </tr>  
            </tbody>
        </table>
    }
</div>
