@model Bs.Calendar.Mvc.ViewModels.AccountVm

@{
    ViewBag.Title = "PasswordRecovery";
}

@if (@Model != null)
{
    <h3 class="row">
        <div class="centered nine columns">
            Password reset confirmation send successfully!
        </div>
    </h3>
    <div class="row">
        <div class="default alert">
            We’ve sent an email to <strong>@Model.Email</strong> containing a temporary link to reset your password for the next 24 hours.
        </div>
    </div>
}
else
{
    <div class="row">
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="centered five columns">
                    @Html.ValidationSummary()
                </div>
            </div>
            
            <table class="rounded centered five columns">
                <thead>
                    <th>Password Recovery</th>
                </thead>
        
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li class="field">
                                    <label>Email</label>
                                    <input class="text input" type="email" name="email">
                                </li>
                                <li>
                                    <div class="medium pretty default btn three columns">
                                        <input type="submit" value="Submit">
                                    </div>
                                </li>
                            </ul>
                        </td>                
                    </tr>  
                </tbody>
            </table>
        }
    </div>
}

@section styles {
    <link href="@Url.Content("~/Content/Layout/edit-form.css")" rel="stylesheet"/>
}
