<table>
    <thead>
        <th>BookId</th>
        <th>User</th>
        <th>Take date</th>
        <th>Return date</th>
        <th>Order</th>
    </thead>
    <tbody>
        <tr>
            <td>
                <a data-bind="text: bookId"/>
            </td>
            <td>
                <select data-bind="options: $root.peoples, optionsValue: 'peopleId', value: $root.userId, optionsText: 'peopleName'"></select>
            </td>
            <td>
                <input type="date" data-bind="value: $root.takeDate" style="background-color: yellow"/>
            </td>
            <td>
                <input type="date" data-bind="value: $root.returnDate" style="background-color: greenyellow"/>
            </td>
            <td>
                <select data-bind="options: $root.orderDirections, value: $root.orderDirection"></select>
            </td>
        </tr>
    </tbody>
</table>
<div class="medium info btn icon-left icon-book three columns pull_right" id="SaveHistoryButton">
    <input type="button" data-bind="click: save" value="Save" />
</div>