<div class="invisible-onstart">
    <div id="bookShelfTop" class="row">
        <div class="twelve columns centered">
            <div class="row" style="background: url(/Images/top.jpg); background-repeat: no-repeat">
                <div class="column" style="width: 941px; height: 18px;"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns centered" data-bind="foreach: shelfRows">
            <div class="row" style="background: url(/Images/bs4.jpg); background-repeat: no-repeat" data-bind="foreach: booksRow">
                <!-- ko if: hasCover == $root.withCover() -->
                <div class="column push_one" style="width: 80px; height: 120px;">
                    <a data-bind="attr: { href: getEditLink() }">
                        <img data-bind="attr: { src: imageUrl() }" style="width: 70px; height: 100px; margin: 10px; -webkit-box-shadow: 5px 2px 10px black;" />
                    </a>
                </div>
                <!-- /ko -->                
            </div>
        </div>
    </div>
    <div id="bookShelfBottom" class="row">
        <div class="twelve columns centered">
            <div class="row" style="background: url(/Images/bs4.jpg); background-repeat: no-repeat">
                <div class="column" style="width: 90px; height: 120px;"></div>
            </div>
            <div class="row" style="background: url(/Images/bs4.jpg); background-repeat: no-repeat">
                <div class="column" style="width: 90px; height: 120px;"></div>
            </div>
            <div class="row" style="background: url(/Images/bs4.jpg); background-repeat: no-repeat">
                <div class="column" style="width: 90px; height: 120px;"></div>
            </div>
        </div>
    </div>
</div>
