<div data-bind="visible: $root.oldBookHistory().length == 0" class="medium warning btn pull_right">
    <strong>Book history is empty </strong>
</div>
<table data-bind="visible: ($root.oldBookHistory().length > 0 || $root.showAdd) ">
    <thead>
        <th>User</th>
        <th>Order Date</th>
        <th>Action</th>
        <th></th>
    </thead>
    <tbody data-bind="foreach: newBookHistory">
        <tr>
            <td>
                <select data-bind="options: $root.peoples, optionsValue: 'peopleId', optionsText: 'peopleName', value: userId"></select>
            </td>
            <td>
                <input type="date" data-bind="value: orderDate" />
            </td>
            <td>
                <p data-bind="text: action"></p>
                <input type="hidden" data-bind="value: actionId" />
            </td>
            <td>
                <div data-bind="click: $root.removeNewRecord" class="one columns" style="cursor: pointer">
                    <i class="icon-cancel"></i>
                </div>
            </td>
        </tr>
    </tbody>
    <tbody data-bind="foreach: oldBookHistory">
        <tr>
            <td>
                <p data-bind="text: userFullName"></p>
            </td>
            <td>                
                <p data-bind="text: moment(orderDate).format('DD.MM.YYYY'), value: orderDate"></p>
            </td>
            <td>
                <p data-bind="text: action" />
            </td>
            <td>
                <div data-bind="click: $root.removeOldRecord" class="one columns" style="cursor: pointer">
                    <i class="icon-cancel"></i>
                </div>
            </td>
        </tr>
    </tbody>
</table>
