<table data-bind="visible: bookHistory().length > 0">
    <thead>
        <th>User</th>
        <th>Take date</th>
        <th>Return date</th>
    </thead>
    <tbody data-bind="foreach: bookHistory">
        <tr>
            <td>
                <a data-bind="text: userFullName"></a>
            </td>
            <td>
                <input type="date" data-bind="value: takeDate" style="background-color: yellow">
            </td>
            <td>
                <input type="date" data-bind="value: returnDate" style="background-color: greenyellow">
            </td>
        </tr>
    </tbody>
</table>