<input type="hidden" data-bind="value: bookId" />
<table data-bind="visible: ($root.bookHistory().length > 0 || $root.showAdd) ">
    <thead>
        <th>User</th>
        <th>Take date</th>
        <th>Return date</th>
        <th>Order</th>
    </thead>
    <tbody data-bind="visible: $root.showAdd">
        <tr>
            <td>
                <select data-bind="options: $root.peoples, optionsValue: 'peopleId', value: $root.userId, optionsText: 'peopleName'"></select>
            </td>
            <td>
                <input type="date" data-bind="value: $root.takeDate" style="background-color: yellow" />
            </td>
            <td>
                <input type="date" data-bind="value: $root.returnDate" style="background-color: greenyellow" />
            </td>
            <td>
                <select data-bind="options: $root.orderDirections, value: $root.orderDirection"></select>
            </td>
        </tr>
    </tbody>
    <tbody data-bind="foreach: bookHistory">
        <tr>
            <td>
                <a data-bind="text: userFullName"></a>
            </td>
            <td>
                <input type="date" data-bind="value: takeDate" style="background-color: yellow">
            </td>
            <td>
                <input type="date" data-bind="value: returnDate" style="background-color: greenyellow">
            </td>
            <td>
                <a data-bind="text: orderDirection" />
            </td>
        </tr>
    </tbody>
</table>
<div data-bind="visible: $root.showAdd" class="medium info btn icon-left icon-book three columns pull_right" id="SaveHistoryButton">
    <input type="button" data-bind="click: save" value="Save" />
</div>
