<input type="hidden" data-bind="value: bookId" />
<table data-bind="visible: ($root.bookHistory().length > 0 || $root.showAdd) ">
    <thead>
        <th>User</th>
        <th>Order Date</th>
        <th>Action</th>
    </thead>
    <tbody data-bind="visible: $root.showAdd">
        <tr>
            <td>
                <select data-bind="options: peoples, optionsValue: 'peopleId', value: userId, optionsText: 'peopleName'"></select>
            </td>
            <td>
                <input type="date" data-bind="value: orderDate"/>
            </td>
            <td>
                <p data-bind="text: action"></p>
            </td>
        </tr>
    </tbody>
    <tbody data-bind="foreach: bookHistory">
        <tr>
            <td>
                <p data-bind="text: userFullName"/>
            </td>
            <td>
                <p data-bind="text: orderDate"></p>
            </td>
            <td>
                <p data-bind="text: action" />
            </td>
        </tr>
    </tbody>
</table>
<div data-bind="visible: $root.showAdd" class="medium info btn icon-left icon-book three columns pull_right" id="SaveHistoryButton">
    <input type="button" data-bind="click: save" value="Save" />
</div>
