@model Bs.Calendar.Mvc.ViewModels.BookEditVm
@{
    ViewBag.Title = "Details";

    var id = 0;

    if (Model != null && Model.BookId != 0)
    {
        id = Model.BookId;
    }
}

<div class="row">    
    <div class="centered seven columns">
        <ul>
            <li class="field">
                <h3>@Model.Title</h3>
            </li>
            <li class="field">
                <strong>@Model.Author</strong>
                <div class="medium info btn icon-left icon-book three columns pull_right" data-bind="click: addBookHistory"><a href="#">Order</a></div>
            </li>
        </ul>

        @Html.Partial("BookHistoryList")
                
        <div class="medium default btn two columns pull_right">
            @Html.ActionLink("Back", "Index")
        </div>
    </div>
</div>

@section scripts
{
    <script src="../../Scripts/Books/BookHistoryList.js"></script>
    <script type="text/javascript">
        $(document).ready(function ()
        {
            var model = new BookHistoryVm(@id);
            ko.applyBindings(model);
        });
    </script>
}
