<div id="tagList" class="field" data-bind="visible: allTags().length > 0 && showTags()" >
    <div class="row">
        <div>
            <ul class="four_up tiles calendar-event-user" style="overflow: inherit; margin-left: 0%;" data-bind="foreach: allTags">
                <li style="cursor: pointer; max-width: 100px;">
                    <span style="overflow: hidden; display: block; width: 51px; float: left;" data-bind="text: $data, attr: { title: $data }, click: $root.filterClick"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
