<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="roman" connectionString="Data Source=ROMAN;Initial Catalog=calendar;Trusted_Connection=True;" providerName="System.Data.SqlClient" />!-->
    <add name="Artem" connectionString="Data Source=ART713;Initial Catalog=calendar;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <!--<add name="Savel1" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=calendar;Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--<add key="ConnectionName" value="Savel1" />-->
    <add key="ConnectionName" value="Artem" />
  </appSettings>
</configuration>