@{
    ViewBag.Title = "Rooms";
    var ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "rooms-table",
        HttpMethod = "Get"
    };
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="centered seven columns text-center page-title">
        <h4>@ViewBag.Title</h4>
    </div>
</div>

<div class="row">
    <div class = "three columns">
        <div class="medium primary btn">
            @Html.ActionLink("Create", "Create")
        </div>
    </div>

    @using (Ajax.BeginForm("List", ajaxOptions))
    {
        <div class="field three columns push_six">
            <input class="search input" type="text" name="searchStr" placeholder="Find room by name"/>
        </div>
    }
</div>

<div class="row">
    <div class ="twelve columns centered">
        <table>
            <thead>
                <tr>
                    <th>Room name</th>
                    <th>Number of places</th>
                    <th>Color</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="rooms-table">
                @Html.Action("List")
            </tbody>
        </table>
    </div>
</div>