@model Bs.Calendar.Mvc.ViewModels.RoomsVm

@{
    ViewBag.Title = "Rooms List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class ="nine columns centered">
        <table>            
            <thead>
                <tr>
                    <th>Room name</th>
                    <th>Number of places</th>
                    <th>Color</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Room in Model.Rooms)
                {
                    <tr>
                        <td> @Room.Name </td>
                        <td> @Room.NumberOfPlaces </td>
                        <td> @Room.Color </td>
                        <td>
                            <div class="medium default btn icon-left icon-pencil">
                                <a href="#">Edit</a>
                            </div>
                        </td>
                        <td>
                            <div class="medium danger btn icon-left icon-trash">
                                <a href="#">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table> 
    </div>
</div>

<div class="row">
    <div class = "nine columns centered">
        <div class="medium primary btn icon-left icon-plus pull_right">
            <a href="#">Add</a>
        </div>
    </div>
</div>