@model Bs.Calendar.Mvc.ViewModels.RoomEditVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    @Scripts.Render(
            "~/bundles/jquery",
            "~/bundles/roomjs")

    @Styles.Render("~/Content/roomcss")
}

<h2>Room</h2>

<div>
    <table class="color_picker_table">
        <tr>
            <td id="pick_color" class="color_picker_cell"></td>
        </tr>

    </table>
    <div id="color_picker_container"></div>
</div>

<div>
    @Html.ActionLink("Accept", "List")
    @Html.ActionLink("Back", "List")
</div>
