@{
    ViewBag.Title = "Teams";
}

<div class="row">
    <div class="centered seven columns text-center page-title">
        <h4>@ViewBag.Title</h4>
    </div>
</div>
    
<div class="row">
    <div class="one columns">
        <button class="medium primary btn">@Html.ActionLink("Create", "Create")</button>
    </div>
        
    <div class="field three columns pull_right">
        <input class="search input" type="text" name="searchStr" placeholder="Team name" data-bind="value: filter.SearchString, event: { change: changeHandler }"/>
    </div>
</div>


<div class="row">
    <table>
        <thead>
            <tr>
                <th><div data-field="Name" id="th-name" data-bind="click: headerClick">Name</div></th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody id="list-body"></tbody>
    </table>
</div>


<div class="row" data-bind="visible: TotalPages() > 0">
    <div class="two columns default alert" data-bind="text: filter.Page() + 'of ' + TotalPages()"></div>

    <div class="btn primary label push_four two columns">
        <a href="~" data-bind="click: previousPage">Previous</a>
    </div>

    <div class="btn primary label two columns">
        <a href="~" data-bind="click: nextPage">Next</a>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            window.TeamListVm = new TeamListVm();
            ko.applyBindings(window.TeamListVm);
            window.TeamListVm.updateList();
        });
    </script>
}