html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.page-wrapper {
    min-height: 100%;
    margin-bottom: -60px;
}

* html .page-wrapper {
    height: 100%;
}

.page-buffer {
    height: 60px;
}

.invisible-onstart {
    display: none;
}

.page-title {
    border-bottom: 1px solid;
    margin-bottom: 30px;
}

.sub-title{
/* not required yet */
}

form label:not(.checkbox), legend, .page-title, .sub-title {
    cursor: default;
}

/* TABLE EXTENSIONS */

table thead {
    cursor: default;
}

table.fixed_columns {
    table-layout: fixed;
}

/* BUTTON EXTENSIONS */

.clickable, .clickable * {
    cursor: pointer;
}