<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Fake" connectionString="Data Source=Fake;Initial Catalog=Fake;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionName" value="Fake" />
    <add key="SendEmail" value="false"/>
  </appSettings>
</configuration>