@using Bs.Calendar.Mvc.Services
@using Bs.Calendar.Rules
@if (Request.IsAuthenticated)
{
    var cryptoProvider = new KeccakCryptoProvider();
    var saltProvider = new RandomSaltProvider();
    var calendar = new CalendarMembershipProvider(cryptoProvider, saltProvider);
    var userName = calendar.GetUserNameByEmail(User.Identity.Name);
    <li>

        @Html.ActionLink(userName, "Edit", "Account")
    </li>
    <li>
        @Html.ActionLink("Logout", "Logout", "Account")        
    </li>
} 
else {
    
        <li>
            @Html.ActionLink("Register", "Register", "Account")
        </li>
        <li>
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
}
