@using Bs.Calendar.Mvc.Services
@if (Request.IsAuthenticated)
{    
    var calendar = new CalendarMembershipProvider();
    var userName = calendar.GetUserNameByEmail(User.Identity.Name);
    <li>

        @Html.ActionLink(userName, "Manage", "Account")
    </li>
    <li>
        @Html.ActionLink("Logout", "Logout", "Account")        
    </li>
} 
else {
    
        <li>
            @Html.ActionLink("Register", "Register", "Account")
        </li>
        <li>
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
}
