<footer class="navbar">
    <div class="row" style="color: white; font-size: 10pt">
        <div class="three columns">
            <div class="row">
                Email: info@binary-studio.com
            </div>
            <div class="row">
                Tel: +38062-206-84-61
            </div>
        </div>
        
        <div class="push_two four column">
            <ul>
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Users", "Index", "Users")
                </li>
                <li>
                    @Html.ActionLink("Room", "Index", "Room")
                </li>
                <li>
                    @Html.ActionLink("Team", "Index", "Team")
                </li>
            </ul>
        </div>
        
    </div>
</footer>