<header class="navbar" id="nav1">
    <div class="row">
        <div class="two columns logo">
            <a href="~/">
                <img width="85" src="../../Images/binaryLogo.png"/>
            </a>
        </div>
        <div class="push_seven one column">
            <ul>
                <li>
                    <a href="#">MENU</a>
                    <div class="dropdown">
                        <ul>
                            <li>
                                @Html.ActionLink("Users", "Index", "Users")
                            </li>
                            <li>
                                @Html.ActionLink("Room Manager", "Index", "Room")
                            </li>
                            <li>
                                @Html.ActionLink("Team Manager", "Index", "Team")
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>