<div class="row invisible-onstart" id="room-order-list" data-bind="visible: showRoomOrderList()">
    <div class="row">
        <div class="room-order-header">
            <div><strong>8 am</strong></div><div>9 am</div><div>10 am</div><div>11 am</div><div>12 pm</div>
            <div>1 pm</div><div>2 pm</div><div>3 pm</div><div>4 pm</div><div>5 pm</div><div><strong>6 pm</strong></div>
        </div>
    </div>

    <div class="row room-order-container" data-bind="foreach: roomList">
        <div class="room-order-name" data-bind="text: room.Name"></div>
        <div class="room-order-time" draggable="false">
            <div></div><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>
    
    <div id="help-wrap">
        <div id="well"><div><span>Slide Right to pick time</span></div></div>
    </div>
</div>