.bc-header th {
    width: 14.2857%;
    text-align: center;
    border: 1px solid #ddd;
    border-width: 0 0 0 1px;
}

.bc-header th:first-child {
    border-left: 0;
}

.bc-week td {
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
    padding: 0;
}

.bc-week td:first-child {
    border-left: 0;
}

.other-month div.bc-day-number {
    color: gainsboro;
}
.bc-week td:first-child > div {
    min-height: 115px;
}

.bc-month-day > div:first-child{
    width: 100%;
    padding: 0 2px;
    font-size: 14px ;
    font-weight: normal;
}


.bc-month-day.current-day {
    background:#fcf8e3;
}

.bc-week img {
    vertical-align: text-top;
}

.bc-event {
    background:darkseagreen;
    border-radius: 2px;
    overflow: hidden;
    height: 100%;
    margin-bottom: 1px;
}