.bc-header th {
    width: 14.2857%;
    text-align: center;
    border: 1px solid #ddd;
    border-width: 0 0 0 1px;
}

.bc-header {
    background-color: white;
    color: rgb(80, 80, 80);
}

.bc-header th {
    font-size: 15.5px;
}

.bc-header th:first-child {
    border-left: 0;
}

.bc-week td {
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
    padding: 0;
}

.bc-week td:first-child {
    border-left: 0;
}

.other-month div.bc-day-number {
    color: gainsboro;
}
.bc-week td:first-child > div {
    min-height: 115px;
}

.bc-month-day > div:first-child{
    width: 100%;
    padding: 0 2px;
    font-size: 14px ;
    font-weight: normal;
}

.bc-month-day.current-day {
    background:#fcf8e3;
}

.bc-week img {
    vertical-align: text-top;
}

.bc-event {
    border-radius: 2px;
    overflow: hidden;
    height: 100%;
    margin-bottom: 1px;
    font-family: 'Open Sans';
    font-size: small;
    cursor: pointer;
    color: #FFFFFF;
}

.bc-event-birthday {
    background:darkseagreen;
}

.bc-event-calendar {
    background: rgb(65, 151, 194);
}

.bc-event-container {
    overflow-y: hidden;
}

.button-like {
    opacity: 1.0;
}

.button-like:hover {
    opacity: 0.7;
     -webkit-transition: opacity 100ms linear;
     -moz-transition: opacity 100ms linear;
     -o-transition: opacity 100ms linear;
     -ms-transition: opacity 100ms linear;
     transition: opacity 100ms linear;
}

.button-like-colorful {
    background-color: inherit;
}

.button-like-colorful:hover {
    background: aliceblue;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
} 