@model Bs.Calendar.Mvc.ViewModels.UserEditVm

@{
    var fullName = string.Format("{0} {1}", Model.FirstName, Model.LastName);
    ViewBag.Title = string.Concat(fullName," Info");
}

<h2>Info:</h2>
<h3>@fullName</h3> @Model.Role
<p>@Model.Email</p>