@{
    ViewBag.SearchWindowTitle = "Filter settings";
}

<div class="modal" id="filter_settings">
    <div class="content">
        <a class="close switch" gumby-trigger="|#filter_settings">
            <i class="icon-cancel"></i>
        </a>
        <div class="row">
            <form>
                <fieldset>
                    <legend><h3>@ViewBag.SearchWindowTitle</h3></legend>
                    <ul>
                        <li class="field">
                            <label class="checkbox" id="FilterOnlyAdmins">
                                <span></span> Only Administrators
                            </label>

                            <label class="checkbox" id="FilterNotApproved">
                                <span></span> Not approved
                            </label>
                            
                            <label class="checkbox" id="FilterDeleted">
                                <span></span> Deleted
                            </label>
                        </li>
                    </ul>
                </fieldset>
            </form>
            
            <p class="btn secondary medium">
                <a href="#" data-bind="click: filter.acceptFilter" gumby-trigger="|#filter_settings">Accept</a>
            </p>
            
            <p class="btn default medium">
<<<<<<< Updated upstream
                <a href="#" data-bind="click: filter.closeWindow" gumby-trigger="|#filter_settings">Cancel</a>
            </p>            
=======
                <a href="#" data-bind="click: resetFlags" gumby-trigger="|#filter_settings">Cancel</a>
            </p>
            
>>>>>>> Stashed changes
        </div>
    </div>
</div>