@{
    ViewBag.Title = "User Page";
    var ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "user-table",
        LoadingElementId = "loading",
        HttpMethod = "Get"
    };
}
    
<div class="row">
    <h2>Users</h2>
</div>
    
<div class="row">
    <button class="medium primary btn">@Html.ActionLink("Create", "Create")</button>
</div>
<br/>

<div class="row">
    @using (Ajax.BeginForm("List", ajaxOptions))
    {
        <div class="field three columns">
            <input class="search input" type="text" name="searchStr" placeholder="Find user"/>
        </div>

        <div class="three columns" id="loading" style="display: none">
            Loading Data...
        </div>
    }
</div>

<div class="row">
    <div id="user-table">
        @Html.Action("List")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
}