@{
    ViewBag.Title = "User Page";
    var ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "user-table",
        LoadingElementId = "loading",
        HttpMethod = "Get"
    };
}
    
<div class="row">
    <h2>Users</h2>
</div>
    
<div class="twelve colgrid">
    <div class="row">
        <div class="column">
            <button class="medium primary btn">@Html.ActionLink("Create", "Create")</button>
        </div>
        @using (Ajax.BeginForm("List", ajaxOptions))
        {
            <div class="field push_seven three columns">
                <input class="search input" type="text" name="searchStr" placeholder="Find user"/>
            </div>

            <div class="three columns" id="loading" style="display: none">
                Loading Data...
            </div>
        }
    </div>
</div>

<div class="row">
    <div id="user-table">
        @Html.Action("List")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
}