@model Bs.Calendar.Mvc.ViewModels.UsersVm 

@{
    ViewBag.Title = "User Page";
}

<div class ="row" id="container">
    <h2>Users</h2>
    
    <button class="medium primary btn">@Html.ActionLink("Create", "Create")</button>
    
    <div>
        @using (Ajax.BeginForm("List", new AjaxOptions {UpdateTargetId = "user-table"}))
        {
            <div class="field three columns">
                <input class="search input" type="text" name="searchStr" placeholder="Find user"/>
            </div>
        }
    </div>

    <table id="user-table">
        @Html.Partial("UserList", Model)
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
}