@model Bs.Calendar.Mvc.ViewModels.UsersVm 
@{
    ViewBag.Title = "User Page";
}

<div id="container">
    
    <h1>Users</h1>
    <button>@Html.ActionLink("Create", "Create")</button>

    @using (Ajax.BeginForm("Find", new AjaxOptions {UpdateTargetId = "user-table"})) 
    {
        <input type="text" name="searchStr" value="Find User"/>
    }

    <table id="user-table">
        @Html.Partial("UserList", Model)
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryuser")
}