@{
    ViewBag.Title = "User Page";
    var ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "user-table",
        LoadingElementId = "loading",
        HttpMethod = "Get"
    };
}
    
<div class="row">
    <h3>Users</h3>
</div>
    
<div class="sixteen colgrid">
    <div class="row">
        <div class="one columns">
            <button class="medium primary btn">@Html.ActionLink("Create", "Create")</button>
        </div>
        @using (Ajax.BeginForm("List", ajaxOptions))
        {
            <div class="field push_eleven four columns">
                <input class="search input" type="text" name="searchStr" placeholder="Find user"/>
            </div>
        }
    </div>
</div>

<div class="row" id="loading" style="display: none">
    Loading...
</div>

<div class="row">
    <div id="user-table">
        @Html.Action("List")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
}

@section styles {
    <link href="@Url.Content("~/Content/User/user-view.css")" rel="stylesheet"/>
}