.roomColor_0 { background-color: #66C266; }
.roomColor_1 { background-color: #89C5BE; }
.roomColor_2 { background-color: #A366C2; }
.roomColor_3 { background-color: #6666CC; }
.roomColor_4 { background-color: #CC6666; }
.roomColor_5 { background-color: #FFC466; }
.roomColor_6 { background-color: #C9906E; }

.color_picker_container div, #color_cell, .roomColor
{
    width:  21px;
    height: 21px;

    border: 1px solid black;

    float: left;

    cursor: pointer;
}

.color_picker_container
{
    width: 5%;
}

.justDivider
{
    clear: both;   
}