.roomColor_0 { background-color: #66C266; }
.roomColor_1 { background-color: #89C5BE; }
.roomColor_2 { background-color: #A366C2; }
.roomColor_3 { background-color: #6666CC; }
.roomColor_4 { background-color: #CC6666; }
.roomColor_5 { background-color: #FFC466; }
.roomColor_6 { background-color: #C9906E; }

.roomColor
{
    width:  21px;
    height: 21px;

   
    float: left;

    cursor: pointer;

    margin-left: 8px;
    margin-right: 8px;
}

.roomColorSelected
{
    border: 3px solid black;
}