<div class="row">
    <div class="two columns pull_left">
        <div class="six columns default btn pretty" data-bind="click: prevMonth"><</div>
        <div class="six columns default btn pretty" data-bind="click: nextMonth">></div>
    </div>
    <div class="one columns default btn pretty" data-bind="click: today">Today</div>
    <div class="two columns warning btn pretty">@Html.ActionLink("Add Event", "CreateEvent")</div>
    <div class="three columns text-center pull_right"><h4 data-bind="text: title"></h4></div>
</div>

<div class="row">
    <table class = "twelve columns rounded">
        <thead class="bc-header">
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody id="calendar_body" data-bind="template: {name : 'week-template', foreach:weeks}">
        </tbody>
    </table>
</div>

<script type="text/html" id="week-template">
    <tr data-bind="template: { name: 'day-template', foreach: days }" class="bc-week">
    </tr>
</script>

<script type="text/html" id="day-template">
    <td data-bind="attr: { class: $root.defineClass(date) }">
        <div>
            <div class="bc-day-number" data-bind="text: day"></div>
            <div data-bind="template: { name: 'event-template', foreach: events }"></div>
        </div>
    </td>
</script>

<script type="text/html" id="event-template">
    <div class="bc-event">
        <img src="../../Images/birthday_icon.png" width="19"/>
        <span data-bind="text: eventContent"></span> 
    </div>
</script>

