@{
    ViewBag.Title = "Create Event";
}

<div class="row">
    <div class="twelve columns">
        <section class="pill tabs">
            <ul class="tab-nav">
                <li><a href="#">Meeting Event</a></li>
                <li><a href="#">Personal Event</a></li>
                <li><a href="#">Company Event</a></li>
            </ul>
            
            <div class="tab-content" id="meeting-event">
                @Html.Partial("MeetingEvent")
            </div>
            <div class="tab-content" id="personal-event">
                @Html.Partial("PersonalEvent")
            </div>
            <div class="tab-content">
                Comming Soon Too...
            </div>
        </section>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            //Setup and apply timepicker plugin
            var timePickerConfig = {
                forceRoundTime: true,
                timeFormat: "g:i a",
                step: 30
            };
            
            $('.timeInput').keydown(false).timepicker(timePickerConfig);
            
            //Setup knockout
            ko.applyBindings(new MeetingEventVm(), document.getElementById("meeting-event"));
            ko.applyBindings(new PersonalEventVm(null, "personal-event"), document.getElementById("personal-event"));
            $(".invisible-onstart").removeClass("invisible-onstart");
        });
    </script>
}



