<p class="datepair">
    <input type="text" class="date start">
    <input type="text" class="time start ui-timepicker-input" autocomplete="off"> to
    <input type="text" class="time end ui-timepicker-input" autocomplete="off">
    <input type="text" class="date end">
    <input type="checkbox" value="a1" checked>
</p>