<div class="row invisible-onstart" id="calendar-day" data-bind="visible: isChosen()">
    
    <div class="row calendar-day-header">
        <div></div><div data-bind="text: dayTitle"></div><div></div>
    </div>
    
    <div class="row calendar-day-allday">
        <div class="first-allday">All Day</div><div class="middle-allday"></div><div class="last-allday"></div>
    </div>
    
    <div class="row calendar-week-container">
        <div class="week-time-panel">
            <div>12 am</div><div></div><div>1 am</div><div></div><div>2 am</div><div></div><div>3 am</div><div></div><div>4 am</div><div></div><div>5 am</div>
            <div></div><div>6 am</div><div></div><div>7 am</div><div></div><div>8 am</div><div></div><div>9 am</div><div></div><div>10 am</div><div></div><div>11 am</div>
            <div></div><div>12 pm</div><div></div><div>1 pm</div><div></div><div>2 pm</div><div></div><div>3 pm</div><div></div><div>4 pm</div><div></div><div>5 pm</div>
            <div></div><div>6 pm</div><div></div><div>7 pm</div><div></div><div>8 pm</div><div></div><div>9 pm</div><div></div><div>10 pm</div><div></div><div>11 pm</div><div></div>
        </div>
        
        <div class="day-container-day">
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>
</div>