@model IEnumerable<Bs.Calendar.Models.User>
@{
    ViewBag.Title = "Home Page";
}

<div class="row" id="calendar-panel">
    <div class="two columns append field pull_left">
        <div class="six columns medium default btn clickable" style="border: 1px solid gainsboro" data-bind="click: prevButton"><a><i class="icon-left-open"></i></a></div>
        <div class="six columns medium default btn clickable" style="border: 1px solid gainsboro; border-radius: 0" data-bind="click: nextButton"><a><i class="icon-right-open"></i></a></div>
    </div>
    @*<div class="two columns">
        <div class="twelve columns default btn pretty clickable" data-bind="click: today, visible: monthStart().diff(moment().startOf('month'))">Today</div>
    </div>*@
    <div class="two columns medium warning btn">@Html.ActionLink("add event", "Create", "Event")</div>
    <div class="four columns text-center"><h4 data-bind="text: title"></h4></div>
    
    <div class="three columns append field pull_right">
        <div class="four columns medium default btn pull_right clickable" style="border: 1px solid gainsboro" data-bind="click: showMonth">month</div>
        <div class="four columns medium default btn pull_right clickable" style="border: 1px solid gainsboro" data-bind="click: showWeek">week</div>
        <div class="four columns medium default btn pull_right clickable" style="border: 1px solid gainsboro; border-radius: 0" data-bind="click: showDay">day</div>
    </div>
</div>

@Html.Partial("Month")
@Html.Partial("Week")
@Html.Partial("Day")


<div id="week-dialog-form" class="invisible-onstart" title="Create new personal event">
    <div class="week-dialog-title">Title:</div>
    <input type="text" class="text input week-dialog-title-input">
    <div class="week-dialog-title">Text:</div>
    <textarea class="text input week-dialog-text"></textarea>
    <div class="default btn"><a href="#">Ok</a></div>
    <div class="default btn"><a href="#">Cancel</a></div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            ko.applyBindings(new CalendarVm(), document.getElementById("calendar-panel"));
            ko.applyBindings(new MonthVm(), document.getElementById("calendar-month"));
            ko.applyBindings(new CalendarWeekVm(), document.getElementById("calendar-week"));
            ko.applyBindings(new CalendarDayVm(), document.getElementById("calendar-day"));

            $(".invisible-onstart").removeClass("invisible-onstart");
        });
    </script>
}
