@model Bs.Calendar.Mvc.ViewModels.HomeBirthdayListVm
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    
    <h1>Пользователи</h1>

    @foreach (var user in Model)
    {
        <div class="row">
            @user.Email
        </div>
    }
</div>
