
<form>
    <div class="row">
        <ul>
            <li class="field">
                <label for="title">Title</label>
                <input class="narrow text input" id="title" type="text" placeholder="Event Title">
            </li> 
             <li class="field">
                <label for="time">Time</label>
                <input class="narrow text input" id="time" type="text" placeholder="Event Time">
            </li> 
            <li class="field">
                <label for="event-text">Text</label>
                <textarea class="input textarea" id="event-text" placeholder="Event Text" rows="2"></textarea>
            </li>
            <li class="field">
                <div class="picker">
                    <select>
                        <option value="#" selected>Choose Room...</option>
                    </select>
                </div>
            </li>
            <li class="field">
                <fieldset>
                    <legend>Teams</legend>
						
                </fieldset>
            </li>
            <li class="field">
                <fieldset>
                    <legend>Users</legend>
                </fieldset>
            </li>
        </ul>
    </div>
</form>