<div class="row invisible-onstart" id="calendar-month" data-bind="visible: isChosen()">
    <div class="row">
        <table class = "twelve columns rounded">
            <thead class="bc-header">
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>
            <tbody id="calendar_body" data-bind="template: {name : 'week-template', foreach:weeks}">
            </tbody>
        </table>
    </div>

    <script type="text/html" id="week-template">
        <tr data-bind="template: { name: 'day-template', foreach: days }" class="bc-week"></tr>
    </script>

    <script type="text/html" id="day-template">
        <td data-bind="attr: { class: $root.defineClass(date)}">
            <div>
                <div class="bc-day-number" data-bind="text: day"></div>
                <div class="bc-event-container">
                    <div data-bind="template: { name: 'birthday-event-template', foreach: events.BirthdayEvents }"></div>
                    <div data-bind="template: { name: 'calendar-event-template', foreach: events.CalendarEvents }"></div>
                </div>
            </div>
        </td>
    </script>

    <script type="text/html" id="birthday-event-template">
        <div class="bc-event bc-event-calendar">
            <img src="../../Images/birthday_icon.png" width="19"/>
            <span data-bind="text: getTitle()"></span>
        </div>
    </script>

    <script type="text/html" id="calendar-event-template">
        <div class="bc-event button-like" data-bind="attr: setAttributes(), click: clickHandle">
            <span data-bind="text: getTitle()"></span>
        </div>
    </script>
</div>

<div id="week-dialog-form" title="Create new personal event">
    <div class="week-dialog-title">Title:</div>
    <input type="text" class="text input week-dialog-title-input">
    <div class="week-dialog-title">Text</div>
    <textarea class="text input week-dialog-text"></textarea>
    <div class="default btn"><a href="#">Ok</a></div>
    <div class="default btn"><a href="#">Cancel</a></div>
</div>