<div class="row invisible-onstart" id="calendar-room" data-bind="visible: isChosen()">
    
    <div class="calendar-room-container room-sun" data-bind="foreach: days">
        <div class="row calendar-room-header">
            <div class="calendar-room-dayname" data-bind="text: dayTitle"></div>
            <div class="room-order-header">
                <div><strong>8 am</strong></div><div>9 am</div><div>10 am</div><div>11 am</div><div>12 pm</div>
                <div>1 pm</div><div>2 pm</div><div>3 pm</div><div>4 pm</div><div>5 pm</div><div><strong>6 pm</strong></div>
            </div>
        </div>
        
        <div class="calendar-room-time-container">
            <div class="row room-order-container" data-bind="foreach: roomList">
                <div class="room-order-name" data-bind="text: room.Name"></div>
                <div class="room-order-time" draggable="false">
                    <div></div><div></div><div></div><div></div><div></div>
                    <div></div><div></div><div></div><div></div><div></div><div></div>
                </div>
            </div>
        </div>
    </div>
</div>